# Ignore Visual Studio temporary files, build results, and more
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.pdb
*.tmp
*.dbmdl
*.bak
*.nupkg
*.snupkg

# ASP.NET settings
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Rider & VS Code
.idea/
.vscode/
*.code-workspace

# MacOS and Windows artifacts
.DS_Store
Thumbs.db
